{% extends "./base.html" %}

{% block title %}Custom Title for Child{% endblock %}

{% block header %}
    <h2>Custom Header for Child</h2>
{% endblock %}

{% block content %}



<form method="POST">
    {% csrf_token %}
    <h2>Register</h2>
    <input type="text" name="username" placeholder="Username" required><br>
    <input type="email" name="email" placeholder="Email" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <button type="submit">Register</button>
    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
</form>
{% endblock %}

